@model IEnumerable<NewLEaderboard.Models.Player>
@using System.Text.RegularExpressions;

@{
    ViewData["Title"] = "Index";
    ViewData["Header"] = "Leaderboard";

    int placingsCounter = 1;
    string characterClass;
    string characterLowercase;
    string characterRemoveSpecial;
}

<div class="row">
    <div class="leaderboard-container">


        @foreach (var item in Model)
        {

            characterClass = item.MainCharacter;
            characterRemoveSpecial = Regex.Replace(characterClass, @"[\W_]", string.Empty);
            characterLowercase = characterRemoveSpecial.ToLower();

            <div class="leaderboard-item">
                <div class="leaderboard-content @characterLowercase">
                    <div class="leaderboard-number">
                        <span>
                            @placingsCounter
                        </span>
                    </div>
                    <div class="leaderboard-name">
                        <a asp-action="Details" asp-route-id="@item.PlayerId">@Html.DisplayFor(modelItem => item.UserName)</a>
                    </div>
                    <div class="leaderboard-points">
                        @Html.DisplayFor(modelItem => item.TotalPoints)
                        <img src="img/icon-trophy.svg" class="gold">@Html.DisplayFor(modelItem => item.AmountFirstPlace)
                        <img src="img/icon-trophy.svg" class="silver">@Html.DisplayFor(modelItem => item.AmountSecondPlace)
                        <img src="img/icon-trophy.svg" class="bronze">@Html.DisplayFor(modelItem => item.AmountThirdPlace)
                    </div>
                </div>
            </div>

            placingsCounter++;
        }
    </div>
</div>