@model IEnumerable<NewLEaderboard.Models.Player>
@using System.Text.RegularExpressions;

@{
    ViewData["Title"] = "Index";
    ViewData["Header"] = "Leaderboard";

    int placingsCounter = 1;
    string topPlacings;
    string characterClass;
    string characterLowercase;
    string characterRemoveSpecial;
    string topPlacingImage;
}

<div class="row">
    <div class="leaderboard-container">


        @foreach (var item in Model)
        {

            characterClass = item.MainCharacter;
            characterRemoveSpecial = Regex.Replace(characterClass, @"[\W_]", string.Empty);
            characterLowercase = characterRemoveSpecial.ToLower();
            

            if (placingsCounter == 1)
            {
                topPlacings = "placing-first";
                topPlacingImage = "<img src='img/icon-medal-first.svg'>";
            }
            else if(placingsCounter == 2) {

                topPlacings = "placing-second";
                topPlacingImage = "<img src='img/icon-medal-second.svg'>";
            }
            else if(placingsCounter == 3) {

                topPlacings = "placing-third";
                topPlacingImage = "<img src='img/icon-medal-third.svg'>";
            }
            else
            {
                topPlacings = "";
                topPlacingImage = "";
            }

            <a asp-action="Details" asp-route-id="@item.PlayerId" class="leaderboard-link">
                <div class="leaderboard-item @topPlacings">
                    <div class="leaderboard-content @characterLowercase">
                        <div class="leaderboard-number">
                            <span>
                                @if (topPlacingImage != "")
                                {
                                    @Html.Raw(topPlacingImage);
                                }
                                else
                                {
                                    @Html.Raw(placingsCounter);
                                }
                            </span>
                        </div>
                        <div class="leaderboard-name">
                            @Html.DisplayFor(modelItem => item.UserName)
                        </div>
                        <div class="leaderboard-points">
                            <span>@Html.DisplayFor(modelItem => item.TotalPoints) LP</span>
                            <img src="img/icon-trophy.svg" class="gold">@Html.DisplayFor(modelItem => item.AmountFirstPlace)
                            <img src="img/icon-trophy.svg" class="silver">@Html.DisplayFor(modelItem => item.AmountSecondPlace)
                            <img src="img/icon-trophy.svg" class="bronze">@Html.DisplayFor(modelItem => item.AmountThirdPlace)
                        </div>
                    </div>
                </div>
            </a>

            placingsCounter++;
        }
    </div>
</div>