@model IEnumerable<NewLEaderboard.Models.Player>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="Index" asp-controller="TournamentsManagement">TournamentManagement</a>
    <a asp-action="Index" asp-controller="ResultsManagement">ResultsManagement</a>
    <a asp-action="Index" asp-controller="PlayersManagement">PlayersManagement</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlayerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscordTag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainCharacter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeeksCompeted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountFirstPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountSecondPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountThirdPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPoints)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscordTag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainCharacter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeeksCompeted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountFirstPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountSecondPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountThirdPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPoints)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlayerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlayerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlayerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
