@model NewLEaderboard.Models.Player

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscordTag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscordTag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainCharacter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainCharacter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeeksCompeted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeeksCompeted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountFirstPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountFirstPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountSecondPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountSecondPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountThirdPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountThirdPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPoints)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PlayerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
